@media screen and (min-width: 480px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }
}

.column {
  float: left;
  width: 300px;
  color: red;
  margin: 12px;
  border: 2px solid red;
  padding: 4px;
  background-color: black;
}

body {
  text-align: center;
  background-color: gray;
}

.column img {
  width: 50%;
}

.column h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 35pt;
  color: gray;
}

#h1 {
  font-size: 50pt;
  color: green;
}
