@media screen and (min-width: 480px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }
}

@media screen and (max-width: 480 px) {
  .banner {
    width: 400px;
    padding: 30px;
  }
}


#img {
  float: right;
  width: 200px;
  height: 100px;
  padding-right: 80px;
}

.header {
  width: 300px;
  float: left;
}

.column {
  float: left;
  width: 300px;
  color: purple;
  margin: 12px;
  border: 2px solid purple;
  padding: 4px;
  background-color: black;
}

body {
  text-align: center;
  background-image: url(../img/animals.jpg);
}

.column img {
  width: 50%;
}

.column h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 35pt;
  color: purple;
}

#h1 {
  font-size: 50pt;
  text-align: left;
}
